/*
main{
    display: flex;
    flex-flow: row wrap;
}

main section{
    display: flex;
    flex-flow: column ;
    justify-content: center;
    
}

img{
    display: flex;
    justify-content: center;
}

.fas.fa-truck{
    color: green;
    padding-top: 0.3rem;
    width: 2.3em;
    height: 2.3rem;
    border: .1rem solid green;
    background-color: white;
    border-radius: 3rem;
    padding: 0.23rem;
    position: relative;
    left: 38vw;
    top: -7vh;
  }

  main section{
    display: block;
    flex-flow: row wrap;
    justify-content: center;
}


article figure{
    border-bottom: 0.1rem solid #666;
}
.titulares{
    width: 100vw;
    font-size: .8rem;
    position:relative ;
    left:2vw;
}


.productos{
    font-size: 1.4rem;
    width: 100%;
}

.precio{
    font-size: 1.1rem;
    padding-top: 2vh;
}

  */

  main section article i{
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: relative;
    right: -38vw;
    top: -30px;
    }
    article{
        box-shadow: 0 0 1rem 0 rgba(20, 20, 20, 0.3);
        width: 50vw;
        padding: 1rem;
        background: #ebebeb;
        display: block;
        
    }
    .descuento{
        width: 100%;
        font-size: 1.1rem;
        color: #39b54a;
        position: relative;
        left: 13vw;
        top: -7vw;
    }
