<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/normalize">
</head>
<body>
    <!--inicio del header-->
    <header >
        <section class="header_top">
            <a href="/home.html" class="main-header-top-bar">
                    <img src="/images/logo-mercado-liebre.svg">
            </a>

            <form action="/" method="GET" class="search">
                <input type="text" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
            </form>
 
            <section class="compra_en_cuotas">
                <h2>
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </h2>
            </section>              
        </section>
            <nav id="burger-menu">
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </nav>
        <section class="navegacion">
            <nav class="show-mobile" >
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">Tienda Oficial</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
            </nav>

            <nav class="show-mobile" id="login_bar">
                <ul>
                    <li>
                        <a href="/register">
                            Creá tu cuenta 
                            <i class="fas fa-address-card"></i>
                        </a>    
                    </li>
                    <li>
                        <a href="/login">
                            Ingresá 
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            Mis compras 
                            <i class="fas fa-shopping-basket"></i>
                        </a> 
                    </li>
                </ul>
            </nav>
        </section>
    </header>
<!--fin del header-->
<section>
    <figure>
        <img src="/images/img-home-banner.jpg" alt="Home Banner" class="banner">
    </figure>
</section>    
<main>
        
        <section>
            <h3 class="titulares"> Basado en tu última visita</h3>
            <!--Inicio de Principales productos-->
            <section class="main_product" > 
                <article >
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$6.770</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">40% OFF</p>
                        <h3 class="productos">Cafetera Moulinex</p>
                    </section> 
                </article>   

                <article >
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$230.000</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">20% off</p>
                        <h3 class="productos">MacBook Pro 2019</h3>
                    </section>
                </article>

                <article >
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$70.500</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">10% off</p>
                        <h3 class="productos">Samsung Galaxy S10</h3>
                    </section>
                </article>

                <article >
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </figure>
                        <section class="main_product_descripcion">
                            <p class="precio">$23.200</p>
                            <i class="fas fa-truck"></i>
                            <p class="descuento">5% off</p>
                            <h3 class="productos">SmartTv Samsung 43"</h3>
                        </section>
                </article>
            </section>
        </section>
        <!--fin seccion principales productos-->
        <!--Seccion Ofertas-->
        <section>
            <h2 class="titulares">Seccion de Ofertas</h2>
            <section class="main_product"> 
                <article >
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$6.770</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">40% OFF</p>
                        <h3 class="productos">Cafetera Moulinex</p>
                    </section> 
                </article>   

                <article >
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$230.000</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">20% off</p>
                        <h3 class="productos">MacBook Pro 2019</h3>
                    </section>
                </article>

                <article >
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </figure>
                    <section class="main_product_descripcion">
                        <p class="precio">$70.500</p>
                        <i class="fas fa-truck"></i>
                        <p class="descuento">10% off</p>
                        <h3 class="productos">Samsung Galaxy S10</h3>
                    </section>
                </article>

                <article >
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg">
                    </figure>
                        <section class="main_product_descripcion">
                            <p class="precio">$23.200</p>
                            <i class="fas fa-truck"></i>
                            <p class="descuento">5% off</p>
                            <h3 class="productos">SmartTv Samsung 43"</h3>
                        </section>
                </article>
            </section>
        </section>

    </main>
    <!--inicio footer-->
    <footer>
       
            <article >
                <i class="fas fa-credit-card"></i>
                <h3 >Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            </article>
        
        <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <!--fin footer-->
</body>
</html>